@CHARSET "UTF-8";
.white_content2 { 
    display: none; 
    position: absolute; 
    top: 5%; 
    left: 17%; 
    width: 65%; 
    height: 70%; 
    padding: 20px; 
    border: 2px solid green; 
    background-color: white; 
    z-index:1002; 
    margin-left: auto;
	margin-right: auto;
    overflow: auto; 
}